.gitignore
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/bitblocks
src/bitblocksd
src/bitblocks-cli
src/bitblocks-tx
src/bench/bench_bitblocks
src/test/test_bitblocks
src/test/test_bitblocks_fuzzy
src/qt/test/test_bitblocks-qt
src/test/fuzz/address_deserialize
src/test/fuzz/addrman_deserialize
src/test/fuzz/banentry_deserialize
src/test/fuzz/block_deserialize
src/test/fuzz/blockheader_deserialize
src/test/fuzz/blocklocator_deserialize
src/test/fuzz/blockmerkleroot
src/test/fuzz/blockundo_deserialize
src/test/fuzz/bloomfilter_deserialize
src/test/fuzz/coins_deserialize
src/test/fuzz/diskblockindex_deserialize
src/test/fuzz/inv_deserialize
src/test/fuzz/messageheader_deserialize
src/test/fuzz/netaddr_deserialize
src/test/fuzz/service_deserialize
src/test/fuzz/transaction_deserialize
src/test/fuzz/txoutcompressor_deserialize
src/test/fuzz/txundo_deserialize
src/test/fuzz/transaction
src/test/fuzz/*deserialize


# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/bitblocks-config.h
src/config/bitblocks-config.h.in
src/config/stamp-h1
src/obj
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.bitblocks
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg
*.iso

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
bitblocks-qt
BitBlocks-Qt.app
background.tiff*

# Rust
.cargo/.configured-for-*
.cargo/config
target/
vendor/

# Unit-tests
Makefile.test
bitblocks-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_bitblocks.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
cache/*
venv*/

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libbitcoinconsensus.pc
.idea
CMakeLists.txt
cmake-build-debug
*CMakeFiles
*.cmake

moc_*
*.tmp
ui_*
build*
!doc/build-windows.md
bitblocksd.*
bitblocksd-new-gui.*
/cov-int/

cppcheck.txt
to_backport.txt
.ci-cppcheck/
.mypy_cache/
*.old
